// @author: Syed Mohammed Hassan <contactsyedmh@gmail.com>
// @since: 1.0
//
// General purpose alignment styles
//
// Do not style elements directly in this file.

* .center--forced,
.center {
  text-align: center;
}
* .right--forced,
.right {
  text-align: right;
}
* .left--forced,
.left {
  text-align: left;
}
.description {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.pull-top {
  margin-top: -15rem;
  &--large {
    margin-top: -20rem;
  }
}
.equal-height {
  &--inline {
    display: inline-flex;
    @include center-vertically();
  }
  display: flex;
  @include center-vertically();
}
