// @author: Syed Mohammed Hassan <contactsyedmh@gmail.com>
// @since: 1.0
//
// This file declares general purpose styles
// used across the site
//
// Do not style elements directly in this file.

.rounded {
  border-radius: $border-radius;
  overflow: hidden;
  &--full {
    border-radius: $border-radius--full;
    overflow: hidden;
  }
}
.shadow-filter {
  filter: drop-shadow($box-shadow);
}
.shadow {
  box-shadow: $box-shadow;
}
::-webkit-scrollbar {
  width: 1rem;
  background-color: $color-five--60;
}
::-webkit-scrollbar-thumb {
  background-color: $color-four--60;
  border-radius: 20rem;
}
::selection {
  background-color: $color-five--60;
}
