// @author: Syed Mohammed Hassan <contactsyedmh@gmail.com>
// @since: 1.0
//
// This file declares styles for the top header
// component of the site

.header-top {
  height: 6rem;
  background: $color-five--60;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  .boxed,
  .inner {
    height: 100%;
  }
  &::before {
    @include pseudoStarter();
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./assets/textures/my-little-montessorian-bg-texture-seamless-leaves.svg");
    background-size: 50%;
    background-repeat: repeat;
    opacity: 0.03;
    z-index: -1;
  }
  .widget {
    list-style: none;
    padding: 0;
    margin: 0;
    &::marker {
      display: none;
    }
    p,
    a,
    li,
    ul,
    span {
      font-size: 3.2rem;
      font-family: $font-family--accent;
      margin: 0;
      color: $color-one--100;
    }
  }
  a {
    transition: color $transition;
    &:hover,
    &:focus {
      color: $color-one--60;
    }
  }
  &__menu {
    padding: 0;
    margin: 0 -1rem 0 0;
  }
  &__menu-item {
    padding: 0 1rem;
    list-style: none;
    margin: 0;
    a {
      text-decoration: none;
      font-size: 3.2rem;
    }
    img {
      width: 4rem;
      height: 4rem;
      margin-right: 1ch;
      object-fit: contain;
      object-position: center center;
    }
  }
}
