// @author: Syed Mohammed Hassan <contactsyedmh@gmail.com>
// @since: 1.0
//
// This declares attribute variables that are used to
// style various elements throughout the site.
//
// Do not style elements directly in this file.

$border-radius: 0.5rem;
$border-radius--full: 50rem;
$box-shadow: 7px 5px 15px rgba($color-one--100, 23%);
$border: 0.1rem solid $color-one--100;
$border--light: 0.1rem solid $color-two--100;
$transition: 150ms ease-in-out;
