// @author: Syed Mohammed Hassan <contactsyedmh@gmail.com>
// @since: 1.0
//
// This file declares global color variables used throughout
// the site.
//
// Do not style elements directly in this file.

$color-one--100: #405955;
$color-one--90: #526965;
$color-one--80: #667a77;
$color-one--70: #798a87;
$color-one--60: #8c9b99;

$color-two--100: #518a7b;
$color-two--90: #629587;
$color-two--80: #73a195;
$color-two--70: #84ada2;
$color-two--60: #96b9af;

$color-three--100: #c2d7d2;
$color-three--90: #c8dbd6;
$color-three--80: #cedfdb;
$color-three--70: #d4e3df;
$color-three--60: #dae7e4;

$color-four--100: #d59066;
$color-four--90: #d99a75;
$color-four--80: #dda684;
$color-four--70: #e1b193;
$color-four--60: #e6bca3;

$color-five--100: #f2d1c2;
$color-five--90: #f3d5c8;
$color-five--80: #f4dace;
$color-five--70: #f6ded4;
$color-five--60: #f7e3da;

$color-six--100: #d0bfad;
$color-six--90: #d4c5b5;
$color-six--80: #d9cbbd;
$color-six--70: #ded2c5;
$color-six--60: #e3d8ce;

$color-bg-light: #fff;
