// @author: Syed Mohammed Hassan <contactsyedmh@gmail.com>
// @since: 1.0
//
// This file declares styles for the text area
// component of the site

.text-area {
  &--right {
    .text-area-image {
      padding: 0 6rem 0 0;
      -webkit-mask-image: url("./assets/masks/my-little-montessorian-text-area-mask--left.png");
      mask-image: url("./assets/masks/my-little-montessorian-text-area-mask--left.png");
      -webkit-mask-size: calc(100% - 6rem + 1px) 100%;
      mask-size: 100% 100%;
      -webkit-mask-position: left center;
      mask-position: left center;
    }
  }
  &--left {
    .text-area-image {
      padding: 0 0 0 6rem;
    }
  }
  &--center {
    padding: 5rem 0;
    .text-area-image {
      &.left {
        padding: 0 6rem 0 10rem;
        object-position: center center;
        max-height: 45rem;
      }
      &.right {
        padding: 0;
        object-position: right center;
      }
    }
    .text-area-content-container {
      padding: 0 6rem;
    }
  }
  .text-area-image {
    box-sizing: border-box;
    object-fit: contain;
    object-position: left center;
  }
  &__description {
    font-size: 1.8rem;
  }
}
